/* GENERICO */
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Goldman;
}
h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 4.438rem;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.563rem;
}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.063rem;
}
body {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background: #e6e6e6;
}
footer {
  margin-top: auto;
}
a {
  text-decoration: none;
  color: #121212;
}
a:hover {
  background-color: transparent;
}

/* HEADER */
.bg-rojo-principal {
  background-color: #ee1c08;
}
.sectionheader__main {
  display: flex;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  margin: auto;
  max-width: 1328px;
}
.header__section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__section--left {
  justify-content: center;
}
.section__nav {
  display: flex;
  flex-wrap: wrap;
}
.nav__movil {
  display: none;
}
.nav__movil ul {
  list-style: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__movil li > a {
  color: #ffffff;
  font-size: 12px;
}
.section__nav--left {
  align-content: center;
  width: 320px;
}
.header__section--right {
  justify-content: center;
  margin-left: auto;
}
.form-control {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  background: #ebebeb;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 13px;
  width: 206px;
  height: 31px;
}
.form-control::placeholder {
  text-align: center;
  color: #121212;
  opacity: 0.31;
}
.section__nav > a,
option {
  color: #ffffff;
  margin: 0px 20px;
}
.logo__desktop {
  display: block;
  margin-left: 26px;
}
.logo__movil {
  display: none;
}
.hamburger {
  background-color: transparent;
  border: 0;
  color: #ebebeb;
  display: none;
  cursor: pointer;
  font-size: 16px;
}
.hamburger:focus {
  outline: none;
}

/* FOOTER */
.sectionfooter__main {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  justify-content: space-evenly;
  max-width: 1328px;
  flex-wrap: wrap;
  margin: auto;
}
.footer__section {
  display: flex;
}
.footer__section--nav {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__section--rrss {
  justify-content: space-between;
  align-items: center;
  margin: 26px;
  align-content: center;
}
.footer__section--rrss a > img {
  padding: 0px 26px;
}
.logo__footer {
  margin: 16px 0px;
}

/* MAIN */
.main__section {
  display: flex;
}
.div__section--imagen {
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondo_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainsection__section {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  max-height: 100vh;
  margin-top: 146px;
  margin-right: 50px;
}
.mainsection__section--movil {
  display: none;
}
.section__article div {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section__article--principal {
  margin-bottom: 138px;
}
.section__article--principal div {
  width: 41.25rem;
  height: 17.25rem;
}
.section__article--menu {
  display: flex;
  justify-content: space-evenly;
}
.section__article--menu div {
  width: 12.938rem;
  height: 9.875rem;
}

/* RESPONSIVE */
@media screen and (max-width: 1105px) {
  h1 {
    font-size: 2.438rem;
  }
  h2 {
    font-size: 1.563rem;
  }
  h3 {
    font-size: 1.063rem;
  }
  .sectionheader__main {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .inner-addon,
  .header__section {
    display: none;
  }
  .section__nav {
    flex-direction: column;
    align-items: center;
  }
  .nav__movil.show {
    display: flex;
  }
  .hamburger {
    display: block;
    font-size: 40px;
    margin-right: 26px;
  }
  .section__nav > a {
    margin: 24px 0px;
  }
  .sectionfooter__main {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .footer__section--rrss a > img {
    padding: 0px 20px;
  }
  .section__article--principal {
    margin: auto;
  }
  .section__article--principal div {
    width: 23.688rem;
    height: 12.125rem;
  }
  .section__article--menu {
    flex-direction: column;
  }
  .section__article--menu div {
    width: 23.688rem;
    height: 7.75rem;
    margin-top: 16px;
  }
  .mainsection__section {
    margin-top: 92px;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    font-size: 22px;
  }
  .logo__desktop {
    display: none;
  }
  .logo__movil {
    display: block;
    align-self: center;
    margin-left: 26px;
  }
  .div__section--imagen {
    background-image: url("../img/fondo_homemovil.jpg");
  }
  .main__section {
    flex-direction: column;
  }
  .mainsection__section {
    align-content: center;
    margin: auto;
  }
  .section__article--menu div:last-child {
    margin-bottom: 86px;
  }
  .mainsection__section--desktop {
    display: none;
  }
  .mainsection__section--movil {
    display: flex;
  }
}
